body {
	font-family: Helvetica;
	text-align: center;
}
.gameboard {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	height: 70vmin;
	width: 70vmin;
	margin: auto;
}

.box {
	border: 1px solid;
	margin-bottom: -1px;
	margin-right: -1px;
    font-weight: bold;
    a:hover ()
    
}
